
//Colores

$primero: #035f6c;
$segundo: #1a8fc4;
$tercero: #7ce9fe;
$cuarto : #97fbc5;
$quinto : #51edc6;
$sexto  : #ef6101;

$primary  : $primero;
$secondary: $segundo;
$success  : $tercero;
$danger   : $sexto;
$warning  : $quinto;
$info     : $cuarto;

.card-body{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(2, 50%);
    align-content: center;
};

/* .card-grid{
    background-color: #ef6101; 
    color: #7ce9fe;
}; */

.personalidad{
    align-self: center;
    justify-self: center;
    grid-area: 1/2/3/3
}


@import "bootstrap";